extends _layouts/base

block content
  .container
    section.styles.buttons
      .section-header
        h1.pull-left Buttons
        span.pull-right LAST UPDATED MAY 28
      .section-label Section Label
      .row.columns
        .col-xs-12
          figure.well
            .figure-action(data-source='#1') VIEW SOURCE
            .figure-content
              input(type='text', placeholder='A standard input')
            .figure-description.row
              .col-xs.figure-class Input
              .col-xs.figure-info Standard input.
          pre(id='1'): code(class='html').
            &lt;input type="text" placeholder="A Standard Input" /&gt;
    section.styles.buttons
      .section-label Section Label
      .row.columns
        .col-xs-6
          figure.well
            .figure-action VIEW SOURCE
            .figure-content
              input(type='text', placeholder='A standard input')
            .figure-description.row
              .col-xs.figure-class Input
              .col-xs.figure-info Standard input.
        .col-xs-6
          figure.well
            .figure-action VIEW SOURCE
            .figure-content
              input(type='text', placeholder='A standard input')
            .figure-description.row
              .col-xs.figure-class Input
              .col-xs.figure-info Standard input.
    section.styles.buttons
      .section-label Section Label
      .row.columns
        .col-xs-4
          figure.well
            .figure-action VIEW SOURCE
            .figure-content
              input(type='text', placeholder='A standard input')
            .figure-description.row
              .col-xs.figure-class Input
              .col-xs.figure-info Standard input.
        .col-xs-4
          figure.well
            .figure-action VIEW SOURCE
            .figure-content
              input(type='text', placeholder='A standard input')
            .figure-description.row
              .col-xs.figure-class Input
              .col-xs.figure-info Standard input.
        .col-xs-4
          figure.well
            .figure-action VIEW SOURCE
            .figure-content
              input(type='text', placeholder='A standard input')
            .figure-description.row
              .col-xs.figure-class Input
              .col-xs.figure-info Standard input.
    section.styles.buttons
      .section-label Section Label
      .row.columns
        .col-xs-3
          figure.well
            .figure-action VIEW SOURCE
            .figure-content
              input(type='text', placeholder='A standard input')
            .figure-description.row
              .col-xs.figure-class Input
              .col-xs.figure-info Standard input.
        .col-xs-3
          figure.well
            .figure-action VIEW SOURCE
            .figure-content
              input(type='text', placeholder='A standard input')
            .figure-description.row
              .col-xs.figure-class Input
              .col-xs.figure-info Standard input.
        .col-xs-3
          figure.well
            .figure-action VIEW SOURCE
            .figure-content
              input(type='text', placeholder='A standard input')
            .figure-description.row
              .col-xs.figure-class Input
              .col-xs.figure-info Standard input.
        .col-xs-3
          figure.well
            .figure-action VIEW SOURCE
            .figure-content
              input(type='text', placeholder='A standard input')
            .figure-description.row
              .col-xs.figure-class Input
              .col-xs.figure-info Standard input.